<%- include('../includes/head.ejs') %>

</head>

<body>
    <%- include('../includes/nav.ejs') %>

    <main>

        <% if (prods.length > 0) { %>

        <div class="centered">
            <h1 class="no-order-ad">Products By You as an Admin! 😺</h1>
        </div>

        <div class="grid">
            <% for (let product of prods) { %>
            <article class="card product-item">
                <header class="card__header"> <h1 class="product__title"> <%= product.title %> </h1> </header>
                <div class="card__image"> <img src="<%= product.imageUrl %>" alt="<%= product.title %>"> </div>
                <div class="card__content">
                    <h2 class="product__price">₹<%= product.price %></h2>
                    <p class="product__description"><%= product.description %></p>
                </div>
                <div class="card__actions">
                    <a href="/admin/edit-product/<%= product._id %>?edit=true" class="btn">Edit</a>
                    <input type="hidden" value="<%= product._id %>" name="productId">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn" type="button" id="del-btn">Delete</button>
                </div>
            </article>
            <% } %>
        </div>

        <% } else { %>
        <div class="centered">
            <h1 class="no-order-ad">Nothing Added By You! 😿</h1>
            <h1 class="yes-order-ad">Add Products As Admin Now! 😺</h1>
            <div><a class="btn order-now-shop-ad" href="/admin/add-product">Add Now! ♾🧱</a></div>
        </div>
        <% } %>
    </main>
    
    <script src="/js/delete-admin.js"></script>
    <%- include('../includes/end.ejs') %>